body {
  background-color: rgb(14, 28, 47);
  color: white;
  font-family: "roboto mono", monospace;
  margin: 0;
}

header {
  display: flex;
  flex-flow: row;
  /* position: fixed; */
  /* top: 0;
  right: 0;
  z-index: 1;
  margin-bottom: 10px; */
}

.hangingLineContainer {
  width: 300px;
  height: 90px;
  /* border: 1px solid orange; */
}
.hangingLine {
  width: 120px;
  height: 30px;
  border-left: 0.5px solid #8892b0;
  border-right: 0.5px solid #8892b0;
  margin-left: 80px;
}

.emailHolder {
  height: 40px;
  width: 250px;
  border: 0.5px solid #8892b0;
  margin-left: 20px;
  text-align: center;
}

.emailHolder:hover {
  border: 0.5px solid aquamarine;
}

.emailHolder > p:hover {
  color: aquamarine;
}

.navItems,
.linkItems {
  display: flex;
  justify-content: flex-end;
  font-size: 15px;
  color: #8892b0;
  margin-top: 10px;
  margin-left: 130px;
}
/* 
li { */
.linkItems {
  list-style: none;
  margin-right: 20px;
  margin-top: 20px;
  /* background-color: green; */
}

li:hover {
  color: aquamarine;
}
span {
  color: aquamarine;
}

.navLinkItems {
  margin-right: 30px;
  margin-top: 10px;
}

button {
  background-color: rgb(14, 28, 47);
  color: aquamarine;
  border: 1px solid aquamarine;
  border-radius: 5px;
  margin-top: 18px;
  margin-bottom: 18px;
  margin-right: 20px;
  font-family: monospace;
  font-size: 15px;
  padding: 10px 25px;
}
button:hover {
  color: aquamarine;
  border: 1px solid aquamarine;
  background-color: rgb(17, 84, 57);
}

.mainContent {
  display: flex;
  flex-flow: row;
  position: absolute;
  margin: 100px auto;
}

.iconLinksOuter {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-start;
  width: 50px;
  height: 550px;
  margin: 100px 20px;
  position: fixed;
}

.iconLinks {
  width: 50px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-start;
  border: 0.5px solid #8892b0;
}
.devicon-github-original,
.devicon-linkedin-plain,
.devicon-codepen-plain {
  /* background-color: rgb(14, 28, 47); */
  color: #8892b0;
  margin: 20px;
  font-size: 20px;
  color: #8892b0;
}

.devicon-github-original:hover,
.devicon-linkedin-plain:hover,
.devicon-codepen-plain:hover {
  color: aquamarine;
}

.posterStand {
  width: 1px;
  border-right: 0.15px solid #8892b0;
  height: 400px;
}
.introSection {
  width: 70%;
  margin: 0 auto;
}

.sayHello {
  font-size: 18px;
  color: aquamarine;
  margin-top: 30px;
}
.sayName {
  font-size: 60px;
  letter-spacing: 2px;
  color: lightgray;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  margin: 10px 0;
}

.profileTitle {
  color: #8892b0;
  font-size: 40px;
  letter-spacing: 2px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  margin: 20px 0;
}
.profileIntro {
  color: #8892b0;
  /* letter-spacing: 1px; */
  font-family: "Calibri", "Gill Sans", "Gill Sans MT", "Trebuchet MS",
    sans-serif;
  margin: 20px 0;
  width: 100%;
  font-size: 20px;
}

.productHighlight,
.devHighlight {
  color: aquamarine;
}

/* SECTION HEADING */
.allAboutMe,
.workedSection,
.thingsBuilt,
.otherThingsBuilt,
.getInTouch {
  margin: 0 auto;
  margin-top: 300px;
  width: 70%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* HEADING DISPLAY AND LINE*/
.aboutMeHeading,
.workedHeading,
.builtHeading,
.othersBuilt {
  width: 100%;
  font-size: 30px;
  font-weight: 600;
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 50px;
  color: #afb9da;
}

.aboutMeHeadingNumb,
.workedHeadingNumb,
.buildHeadingNumb,
.othersBuiltNumb,
.touchHead {
  font-family: monospace;
  font-weight: 200;
}

.touchHead {
  color: aquamarine;
  font-size: 15px;
}
.aboutMeLine,
.workedLine,
.builtLine,
.othersLine {
  width: 300px;
  border-bottom: 0.15px solid #8892b0;
  margin-left: 20px;
}

/* CONTENT AND PICTURE */
.aboutMeContent {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #8892b0;
  display: flex;
  flex-flow: row wrap;
}

.aboutMeWriteup {
  width: 60%;
  display: flex;
  flex-flow: column;
}

.techSkillColOne,
.techSkillColTwo,
.techSkillColThree {
  width: 25%;
  /* background-color: green; */
}

.techSkillColOneul {
  list-style-type: square;
  margin: 10px;
  padding: 0;
  /* background-color: green; */
}

.techSkillColTwoul {
  /* list-style-type: square; */
  margin: 10px;
  padding: 0;
  /* background-color: orange; */
}

.techSkillColThreeul {
  /* list-style-type: square; */
  margin: 10px;
  padding: 0;
  /* background-color: gray; */
}

.aboutMePictureImg {
  color: white;
  width: 180px;
  height: 200px;
  margin-left: 20px;
}
.techSkill {
  margin-top: 0;
}

.builtContentParent {
  display: flex;
  flex-flow: column;
}
.builtContentOne,
.builtContentTwo,
.builtContentThree {
  display: flex;
  flex-flow: row;
}

.builtContentTwo,
.builtContentThree {
  margin-top: 200px;
}

.dispImage,
.dispImageTwo {
  background-color: gray;
  width: 500px;
  height: 300px;
}

.proContent {
  width: 50%;
  text-align: right;
}

.proContentTwo {
  margin-left: 50px;
}

.featProject,
.featProjectTwo {
  color: aqua;
  font-size: 13px;
  letter-spacing: 2px;
  margin-top: 50px;
}
.projName,
.projNameTwo {
  font-size: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
}
.projDetails,
.projDetailsTwo {
  line-height: 25px;
  padding: 25px;
  background-color: rgb(24, 43, 67);
}

.proContentTwo,
.featProjectTwo,
.projNameTwo,
.projDetailsTwo {
  text-align: left;
}

.othersContent {
  display: flex;
  flex-flow: row wrap;
}
.otherMoreContent {
  background-color: rgb(24, 43, 67);
  border-radius: 10px;
  width: 30%;
  margin: 1%;
  /* background-color: #afb9da3f; */
}

.otherMoreContent:hover,
.otherMoreContent:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}

.iconsShow {
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  /* align-items: center; */
}
.projExec,
.indlProj {
  width: 30px;
  height: 30px;
  /* background-color: color; */
}

.projExec {
  margin: 15px 10px 0 0;
}

.projCard {
  margin: 20px;
}

.projNameCard {
  font-weight: bold;
}

.projDetCard {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 22px;
  font-size: 15px;
  color: #8892b0;
}

.projTech {
  font-family: monospace;
}

.viewMore {
  margin-top: 30px;
  margin-left: 375px;
  justify-content: center;
}

.touchHeading {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.getInTouchTitle {
  /* text-align: center; */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 50px;
  color: #afb9da;
}

.helloBtn {
  margin-right: 0;
}
.footerText {
  color: aquamarine;
  margin-top: 200px;
  font-size: 12px;
  text-align: center;
  font-weight: 800;
}

.getInTouchCont {
  color: #8892b0;
  /* letter-spacing: 1px; */
  font-family: "Calibri", "Gill Sans", "Gill Sans MT", "Trebuchet MS",
    sans-serif;
  margin: 20px 0;
  width: 100%;
  font-size: 20px;
}
